.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 495px;
  }
  
  .header__title {
    font-weight: 200;
    font-size: 40px;
    margin: 0 auto;
    padding:0;
  }
  
  .header__subtitle {
    margin: 0 auto;
    padding: 0;
  }
  
  .header__sociallinks {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .header__sociallink {
    height: 50px;
    width: 50px;
    margin-top: 0;
    padding: 0;
  }
  
  .header__sociallink:last-of-type {
    height: 40px;
    width: 40px;
  }
  
