/* Following Design Spec Sheet for Tea Cozy */

*{
  font-family: Helvetica;
  font-size: 22px;
  color: white;
}

body{
  background-color: black;
}

.menu{
  display: inline-flex;
}

.mission{
  background-image: url(img-mission-background.jpg);
  height: 700px;
  width: 1200px;
}

.locations{
  background-image: url(img-locations-background.jpg);
  height: 500px;
  width: 1200px;
}
