* {
  font-family: Nunito, sans-serif;
}

.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1 {
  text-align: right;
  font-weight: 400;
  font-family: Nunito, sans-serif;
}

h2 {
  text-align: right;
}

ul {
  text-align: right;
  display: inline;
}

li {
  text-align: right;
}

.mainphoto {
  display: relative;
  align-content: center;
  padding: 20px;
  height: 1000px;
  width: 500px;
  top: 100px;
}
