* {
  font-family: Nunito, sans-serif;
}

.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1 {
  text-align: right;
  font-weight: 400;
  font-family: Nunito, sans-serif;
  font-size: 30px;
}

h2 {
  text-align: right;
  top: 2px;
}

ul {
  list-type-style: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: right;
}

.underlist {
  padding= 20px;
}

.mainphoto {
  position: sticky;
  display: inline-block;
  padding-left: 100px;
  height: 1000px;
  width: 500px;
  margin: auto;
}

.momphoto {
  postion: sticky;
  padding-right: 100px;
  z-index: 1;
  display: inline-block;
  height: 1000px;
  width: 500px;
  margin: auto 5px;
}
