.page {
  font-family: Nunito, sans-serif;
}

.header {
  display: flex;
}

.header__title {
  font-weight: 200;
  font-size: 40px;
  margin: 0;
  padding:0;
}

.header__subtitle {
  margin: 0;
  padding: 0;
}

.header__sociallinks {
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.header__sociallink {
  height: 50px;
  width: 50px;
}

.header__photos {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.header__photo {
  margin: 0;
  padding: 0;
  width: 243px;
  height: 832px;
}

.nav__links {
  list-style-type: none;
  padding-right: 40px;
}

.nav__link:hover {
  color: purple;
}