body {
  background-color: ##d9d9d9;
}

header {
  font-family: 'Barlow';
  font-weight: 200;
}

.htmltable {
  margin-left: 200px;
}

.csstable {
  margin-left: 200px;
}

.reminders {
  padding-left: 200px;
  font-family: 'Palatino';
}

.list {
  font-family:'Arial Narrow'; 
  padding-left: 200px;
}

table {
  border-style: dashed;
  border-width: 1px;
  border-color: #f7b90c;
}

th {
  text-align: left;
}

