.header{
  font-family:'Literata';
  font-weight: 400;
  font-size: 48px;
  margin-top: 20px;
  text-align: center;
}

.subheader{
  font-family: 'Literata';
  font-weight: 200;
}

.color-block{
  display: inline;
}

#MediumPurple{
  background-color: MediumPurple;
}

#MediumOrchid{
  background-color: MediumOrchid;
}

#Thistle{
  background-color: Thistle;
}

#AntiqueWhite{
  background-color: AntiqueWhite;
}

#DimGray{
  background-color: DimGray;
}
  
