.header{
  font-family:'Literata';
  font-weight: 400;
  font-size: 48px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-color: DimGray;
  background-color: FloralWhite;
}

.subheader{
  font-family: 'Literata';
  font-weight: 200;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  background-color: Thistle;
}

body {
  text-align: center;
}

.color-block{
  display: inline-block;
  padding: 2px;
}

.MediumPurple{
  background-color: MediumPurple;
}

.MediumOrchid{
  background-color: MediumOrchid;
}

.Thistle{
  background-color: Thistle;
}

.AntiqueWhite{
  background-color: FloralWhite;
}

.DimGray{
  background-color: DimGray;
}
  
