.header{
  font-family:'Literata';
  font-weight: 400;
  font-size: 48px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: DimGray;
  background-color: FloralWhite;
  margin: 0px;
}

.subheader{
  font-family: 'Literata';
  font-weight: 200;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  background-color: Thistle;
}

body {
  text-align: center;
}

h1{
  font-family:'Literata';
  font-weight: 400;
  font-size: 30px;
}

.color-block{
  display: inline-block;
  padding: 2px;
  width: 150px;
  font-family:'Candara';
  font-size: 20px;
  justify-content: space-between;
}

.MediumPurple{
  background-color: MediumPurple;
}

.MediumOrchid{
  background-color: MediumOrchid;
}

.Thistle{
  background-color: Thistle;
}

.FloralWhite{
  background-color: FloralWhite;
}

.DimGray{
  background-color: DimGray;
}
  
.font-block{
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.Literata{
  font-family: Literata;
}

.LucindaBright{
  font-family: 'Lucinda Bright';
}

.Candara{
  font-family: Candara;
}

.light{
  font-weight:200;
}
.bold{
  font-weight:400;
}
